# Pandas for Exploratory Data Analysis II 

Recall Pandas is the most useful Python library for data manipulation and exploration. We have so much more to see!

In this lesson, we'll continue exploring Pandas for EDA. Specifically: 

- Identify and handle missing values with Pandas.
- Implement groupby statements for specific segmented analysis.
- Use apply functions to clean data with Pandas.

We'll implicitly review many functions from our first Pandas lesson along the way!

## Remember the Iowa Liquor Dataset?

- **Invoice/Item Number** - Concatenated invoice and line number associated with the liquor order. This provides a unique identifier for the individual liquor products included in the store order
- **Date** - Date of order 
- **Store Number** - Unique number assigned to the store who ordered the liquor.
- **Store Name** - Name of store who ordered the liquor.
- **Address** - Address of the store that ordered the liquor
- **City** - City where the store who ordered the liquor is located
- **Zip Code** - Zip Code of where the store that ordered is located 
- **Store Location** - Location of store who ordered the liquor. The Address, City, State and Zip Code are geocoded to provide geographic coordinates. Accuracy of geocoding is dependent on how well the address is interpreted and the completeness of the reference data used.
- **County Number** - Iowa county number for the county where store who ordered the liquor is located
- **County** - County where the store who ordered the liquor is located
- **Category** - Category code associated with the liquor ordered
- **Category Names** - Category of the liquor ordered.
- **Vendor Number** - The vendor number of the company for the brand of liquor ordered
- **Vendor Name** - The vendor name of the company for the brand of liquor ordered
- **Item Name** - Item number for the individual liquor product ordered.
- **Item Description** - Description of the individual liquor product ordered.
- **Pack** - The number of bottles in a case for the liquor ordered
- **Bottle Volume (mL)** - Volume of each liquor bottle ordered in milliliters.
- **State Bottle Cost** - The amount that Alcoholic Beverages Division paid for each bottle of liquor ordered
- **State Bottle Retail** - The amount the store paid for each bottle of liquor ordered
- **Bottles Solde** - The number of bottles of liquor ordered by the store
- **Sale (Dollars)** - Total cost of liquor order (number of bottles multiplied by the state bottle retail)
- **Volume Sold (Liters)** - Total volume of liquor ordered in liters. (i.e. (Bottle Volume (ml) x Bottles Sold)/1,000)
- **Volume Sold (Gallons)** - Total volume of liquor ordered in gallons. (i.e. (Bottle Volume (ml) x Bottles Sold)/3785.411784)

### Our Modified Iowa Liquor Dataset

Because the full dataset (of all liquor sales from 2012 to present) is greater than 13 million rows (13,948,103+ at the time of writing), **we will work with a modified dataset.**

Our modified dataset has a few key changes:
- Only sales from May 2017 and May 2018 are present
- A number of values have been deliberately deleted (to practice working with missing data!)

### Import Pandas

In [1]:
import pandas as pd
import numpy as np # used for linear algebra and random sampling
%matplotlib inline

### Read in the dataset

We are using the `read_csv()` method (and using a special encoding to handle our file's Excel roots).

In [2]:
liq = pd.read_csv("../data/iowa_liquor_may_17_18.csv", encoding='cp1252')

In [3]:
# remember checking the top five rows
liq.head()

,Date,Store Number,Store Name,City,Zip Code,Store Location,County,Category Name,Vendor Name,Item Number,...,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons),is_may_2017,is_may_2018
0,5/2/17,5286,Sauce,Iowa City,52240.0,"108, College\rIowa City 52240\r",JOHNSON,Blended Whiskies,Laird & Company,23827,...,12,"1,000",$4.40,$6.60,1,$79.20,1.00,0.26,1,0
1,5/1/17,4169,Super Quick 2 / Hubbell,Des Moines,50317.0,1824 Hubbell Ave\rDes Moines 50317\r,POLK,Canadian Whiskies,CONSTELLATION BRANDS INC,11773,...,48,200,$1.56,$2.34,1,$112.32,0.20,0.05,1,0
2,5/1/17,2641,Hy-Vee Drugstore / Council Bluffs,Council Bluffs,51501.0,757 W Broadway\rCouncil Bluffs 51501\r(41.2616...,POTTAWATTA,American Cordials & Liqueur,SAZERAC NORTH AMERICA,84207,...,10,600,$6.00,$9.00,1,$9.00,0.60,0.15,1,0
3,5/1/17,2641,Hy-Vee Drugstore / Council Bluffs,Council Bluffs,51501.0,757 W Broadway\rCouncil Bluffs 51501\r(41.2616...,POTTAWATTA,American Cordials & Liqueur,SAZERAC NORTH AMERICA,84197,...,10,600,$6.00,$9.00,1,$9.00,0.60,0.15,1,0
4,5/3/17,2565,Hy-Vee Food Store / Spencer,Spencer,51301.0,"819 N Grand Ave\rSpencer 51301\r(43.145897, -9...",CLAY,Mixto Tequila,LUXCO INC,89448,...,6,"1,750",$12.00,$18.00,3,$18.00,5.25,1.38,1,0

In [4]:
liq.shape

(427923, 21)

### Rename our columns (like last time)

Let's rename our columns so our data is easier to work with.

In [5]:
# declare a list of strings - these strings will become the new column names
cols = ['date', 'store_number', 'store_name', 'city', 
        'zip_code', 'location', 'county', 'category_name',
        'vendor_name', 'item_number', 'item_description', 'pack', 
       'bottle_vol_ml', 'state_bottle_cost', 'state_bottle_retail', 'bottles_sold',
       'sale', 'volumne_sold_l', 'volume_sold_gal', 'is_may_2017', 'is_may_2018']

In [6]:
liq.columns = cols

In [7]:
liq.columns

Index(['date', 'store_number', 'store_name', 'city', 'zip_code', 'location',
       'county', 'category_name', 'vendor_name', 'item_number',
       'item_description', 'pack', 'bottle_vol_ml', 'state_bottle_cost',
       'state_bottle_retail', 'bottles_sold', 'sale', 'volumne_sold_l',
       'volume_sold_gal', 'is_may_2017', 'is_may_2018'],
      dtype='object')

## Handling missing data

Recall missing data is a systemic, challenging problem for data scientists. Imagine conducting a US election poll, but losing all female voter responses in the process!

"Handling missing data" itself is a broad topic. We'll focus on two components:

- Using Pandas to identify we have missing data
- Strategies to fill in missing data
- Filling in missing data with Pandas

***Create missing data*** 😮

> For the purposes of education... Run the below cell to *create* missing data in our DataFrame.

In [8]:
# create random places to drop data
to_drop1 = np.random.randint(1,427923,72746)
to_drop2 = np.random.randint(1,427923,29954)
np.append(to_drop2, 2) # make sure we have index number 2 to drop


# drop the data!!!
liq.iloc[to_drop1,15] = np.nan
liq.iloc[to_drop2,16] = np.nan

### Identifying missing data

Before *handling*, we must identify we're missing data at all! (In this given dataset, we have eliminated datapoints for the purposes of these exercises.)

We have a few ways to explore missing data, and they are reminiscient of our Boolean filters.

In [9]:
# True when data isn't missing
liq.notnull()

,date,store_number,store_name,city,zip_code,location,county,category_name,vendor_name,item_number,...,pack,bottle_vol_ml,state_bottle_cost,state_bottle_retail,bottles_sold,sale,volumne_sold_l,volume_sold_gal,is_may_2017,is_may_2018
0,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
5,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,False,False,True,True,True,True
6,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
7,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,False,True,True,True,True,True
8,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
9,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
10,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,False,True,True,True,True,True
11,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
12,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
13,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
14,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
15,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
16,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,False,True,True,True,True,True
17,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
18,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
19,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
20,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
21,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
22,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
23,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
24,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
25,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
26,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
27,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
28,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
29,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,False,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427893,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
427894,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
427895,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
427896,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
427897,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
427898,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
427899,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
427900,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
427901,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
427902,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,False,True,True,True,True,True
427903,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,False,True,True,True,True,True
427904,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
427905,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
427906,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
427907,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
427908,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
427909,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
427910,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
427911,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,False,True,True,True,True,True
427912,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
427913,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
427914,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,False,True,True,True,True,True
427915,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
427916,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
427917,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
427918,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
427919,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
427920,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,False,False,True,True,True,True
427921,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
427922,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [10]:
# True when data is missing
liq.isnull()

,date,store_number,store_name,city,zip_code,location,county,category_name,vendor_name,item_number,...,pack,bottle_vol_ml,state_bottle_cost,state_bottle_retail,bottles_sold,sale,volumne_sold_l,volume_sold_gal,is_may_2017,is_may_2018
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427893,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
427894,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
427895,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
427896,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
427897,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
427898,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
427899,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
427900,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
427901,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
427902,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
427903,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
427904,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
427905,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
427906,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
427907,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
427908,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
427909,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
427910,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
427911,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
427912,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
427913,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
427914,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
427915,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
427916,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
427917,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
427918,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
427919,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
427920,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,False,False,False,False
427921,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
427922,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

Now, we may want to see null values in aggregate. We can use `sum()` to sum down a given column

In [11]:
# see number of missing values per column
liq.isnull().sum()

date                       0
store_number               0
store_name                 0
city                      14
zip_code                  14
location                  14
county                    14
category_name            421
vendor_name                0
item_number                0
item_description           0
pack                       0
bottle_vol_ml              0
state_bottle_cost          0
state_bottle_retail        0
bottles_sold           66817
sale                   28994
volumne_sold_l             0
volume_sold_gal            0
is_may_2017                0
is_may_2018                0
dtype: int64

Look! We've found missing values!

How could this missing data be problematic for our analysis?

### Understanding missing data

Finding missing data is the easy part! Determining way to do next is more complicated.

Typically, we are most interested in knowing **why** we are missing data. Once we know what 'type of missingness' we have (the source of missing data), we can proceed effectively.

Let's first quantify how much data we are missing.

In [12]:
# use a boolean filter to only show rows where bottles_sold is missing
liq[liq.bottles_sold.isnull()]

,date,store_number,store_name,city,zip_code,location,county,category_name,vendor_name,item_number,...,pack,bottle_vol_ml,state_bottle_cost,state_bottle_retail,bottles_sold,sale,volumne_sold_l,volume_sold_gal,is_may_2017,is_may_2018
5,5/3/17,5105,Three Brothers Liquors,North Liberty,52317.0,585 HIGHWAY 965\rNorth Liberty 52317\r(41.7381...,JOHNSON,American Vodka,A V BRANDS INC,937040,...,6,750,$21.99,$32.99,NaN,NaN,1.50,0.39,1,0
7,5/1/17,4301,Sahota Food Mart,Des Moines,50320.0,"1805 SE 14th St\rDes Moines 50320\r(41.57222, ...",POLK,American Vodkas,Laird & Company,35914,...,24,375,$1.93,$2.90,NaN,$69.60,0.37,0.09,1,0
10,5/1/17,4301,Sahota Food Mart,Des Moines,50320.0,"1805 SE 14th St\rDes Moines 50320\r(41.57222, ...",POLK,Imported Brandies,Jim Beam Brands,47790,...,24,200,$4.72,$7.08,NaN,$169.92,0.40,0.10,1,0
16,5/1/17,4301,Sahota Food Mart,Des Moines,50320.0,"1805 SE 14th St\rDes Moines 50320\r(41.57222, ...",POLK,100% Agave Tequila,DIAGEO AMERICAS,89175,...,6,750,$32.99,$49.49,NaN,$49.49,2.25,0.59,1,0
30,5/1/17,4617,Lickety Liquor,Des Moines,50317.0,2501 HUBBELL AVE\rDes Moines 50317\r(41.607866...,POLK,Tennessee Whiskies,Brown Forman Corp.,86670,...,12,750,$15.57,$23.36,NaN,$23.36,1.50,0.39,1,0
39,5/1/17,4617,Lickety Liquor,Des Moines,50317.0,2501 HUBBELL AVE\rDes Moines 50317\r(41.607866...,POLK,Imported Cordials & Liqueurs,"Sidney Frank Importing Company, Inc.",65253,...,48,200,$3.51,$5.27,NaN,$252.96,0.20,0.05,1,0
40,5/1/17,4617,Lickety Liquor,Des Moines,50317.0,2501 HUBBELL AVE\rDes Moines 50317\r(41.607866...,POLK,100% Agave Tequila,Patron Spirits Company,88294,...,12,375,$14.50,$21.75,NaN,$261.00,0.37,0.09,1,0
42,5/1/17,4617,Lickety Liquor,Des Moines,50317.0,2501 HUBBELL AVE\rDes Moines 50317\r(41.607866...,POLK,Canadian Whiskies,SAZERAC NORTH AMERICA,12407,...,12,"1,000",$5.50,$8.25,NaN,$8.25,3.00,0.79,1,0
44,5/1/17,2190,"Central City Liquor, Inc.",Des Moines,50314.0,"1460 2ND AVE\rDes Moines 50314\r(41.60566, -93...",POLK,American Vodkas,McCormick Distilling Co.,36908,...,6,"1,750",$7.47,$11.21,NaN,$67.26,1.75,0.46,1,0
49,5/1/17,2190,"Central City Liquor, Inc.",Des Moines,50314.0,"1460 2ND AVE\rDes Moines 50314\r(41.60566, -93...",POLK,Imported Flavored Vodka,DIAGEO AMERICAS,64573,...,12,750,$18.49,$27.74,NaN,$27.74,2.25,0.59,1,0
54,5/1/17,2190,"Central City Liquor, Inc.",Des Moines,50314.0,"1460 2ND AVE\rDes Moines 50314\r(41.60566, -93...",POLK,Imported Dry Gins,DIAGEO AMERICAS,28867,...,12,"1,000",$15.50,$23.25,NaN,$23.25,2.00,0.52,1,0
59,5/1/17,2190,"Central City Liquor, Inc.",Des Moines,50314.0,"1460 2ND AVE\rDes Moines 50314\r(41.60566, -93...",POLK,Imported Cordials & Liqueurs,Mhw LTD,65017,...,24,375,$10.75,$16.13,NaN,$16.13,0.75,0.19,1,0
68,5/1/17,2190,"Central City Liquor, Inc.",Des Moines,50314.0,"1460 2ND AVE\rDes Moines 50314\r(41.60566, -93...",POLK,Gold Rum,Skyy Spirits Inc,43371,...,12,750,$10.50,$15.75,NaN,$15.75,1.50,0.39,1,0
70,5/1/17,2190,"Central City Liquor, Inc.",Des Moines,50314.0,"1460 2ND AVE\rDes Moines 50314\r(41.60566, -93...",POLK,Flavored Rum,BACARDI USA INC,43051,...,12,750,$8.26,$12.39,NaN,$12.39,1.50,0.39,1,0
80,5/1/17,2190,"Central City Liquor, Inc.",Des Moines,50314.0,"1460 2ND AVE\rDes Moines 50314\r(41.60566, -93...",POLK,Tennessee Whiskies,Brown Forman Corp.,26828,...,6,"1,750",$30.68,$46.02,NaN,$276.12,1.75,0.46,1,0
84,5/1/17,2190,"Central City Liquor, Inc.",Des Moines,50314.0,"1460 2ND AVE\rDes Moines 50314\r(41.60566, -93...",POLK,Imported Brandies,MOET HENNESSY USA,48105,...,12,375,$10.24,$15.36,NaN,$184.32,0.37,0.09,1,0
87,5/1/17,5169,AV Superstop,Des Moines,50313.0,5120 NE 14th Street\rDes Moines 50313\r(41.653...,POLK,Straight Bourbon Whiskies,Jim Beam Brands,19066,...,12,750,$10.49,$15.74,NaN,$15.74,3.00,0.79,1,0
88,5/1/17,5169,AV Superstop,Des Moines,50313.0,5120 NE 14th Street\rDes Moines 50313\r(41.653...,POLK,Straight Bourbon Whiskies,Jim Beam Brands,19064,...,24,375,$5.25,$7.88,NaN,$7.88,1.87,0.49,1,0
91,5/1/17,5169,AV Superstop,Des Moines,50313.0,5120 NE 14th Street\rDes Moines 50313\r(41.653...,POLK,Imported Vodkas,BACARDI USA INC,34423,...,12,375,$9.00,$13.50,NaN,$13.50,1.50,0.39,1,0
92,5/1/17,5169,AV Superstop,Des Moines,50313.0,5120 NE 14th Street\rDes Moines 50313\r(41.653...,POLK,Imported Vodkas,PERNOD RICARD USA,34004,...,24,375,$6.49,$9.74,NaN,NaN,1.50,0.39,1,0
93,5/1/17,5169,AV Superstop,Des Moines,50313.0,5120 NE 14th Street\rDes Moines 50313\r(41.653...,POLK,Imported Vodkas,PERNOD RICARD USA,34003,...,24,200,$3.99,$5.99,NaN,$5.99,0.80,0.21,1,0
108,5/1/17,4829,Central City 2,Des Moines,50314.0,1501 Michigan Ave\rDes Moines 50314\r(41.60572...,POLK,100% Agave Tequila,Jim Beam Brands,89846,...,6,750,$20.99,$31.49,NaN,$188.94,0.75,0.19,1,0
112,5/1/17,4829,Central City 2,Des Moines,50314.0,1501 Michigan Ave\rDes Moines 50314\r(41.60572...,POLK,American Flavored Vodka,E & J Gallo Winery,40594,...,12,750,$7.50,$11.25,NaN,$135.00,0.75,0.19,1,0
120,5/1/17,4600,Kum & Go #207 / Hubbell DM,Des Moines,50317.0,4200 E Hubbell Ave\rDes Moines 50317\r(41.6359...,POLK,Whiskey Liqueur,SAZERAC COMPANY INC,64858,...,1,"3,000",$29.72,$44.58,NaN,$44.58,6.00,1.58,1,0
130,5/1/17,4599,Quik Trip #500 / Hubbell DM,Des Moines,50317.0,3700 Hubbell Ave\rDes Moines 50317\r(41.628988...,POLK,Tennessee Whiskies,Brown Forman Corp.,86691,...,12,500,$9.06,$13.59,NaN,$13.59,0.50,0.13,1,0
131,5/1/17,4599,Quik Trip #500 / Hubbell DM,Des Moines,50317.0,3700 Hubbell Ave\rDes Moines 50317\r(41.628988...,POLK,Canadian Whiskies,DIAGEO AMERICAS,11290,...,10,300,$7.35,$11.03,NaN,$11.03,0.30,0.07,1,0
134,5/1/17,4273,Smokin' Joe's #4 Tobacco and Liquor Outlet,Des Moines,50317.0,2800 E University Ave\rDes Moines 50317\r(41.6...,POLK,Temporary & Specialty Packages,DIAGEO AMERICAS,77955,...,12,500,$7.47,$11.21,NaN,$134.52,0.50,0.13,1,0
143,5/1/17,4273,Smokin' Joe's #4 Tobacco and Liquor Outlet,Des Moines,50317.0,2800 E University Ave\rDes Moines 50317\r(41.6...,POLK,American Brandies,CONSTELLATION BRANDS INC,56196,...,12,750,$6.29,$9.44,NaN,$9.44,1.50,0.39,1,0
148,5/1/17,4273,Smokin' Joe's #4 Tobacco and Liquor Outlet,Des Moines,50317.0,2800 E University Ave\rDes Moines 50317\r(41.6...,POLK,American Vodkas,McCormick Distilling Co.,36903,...,48,200,$1.13,$1.70,NaN,$81.60,0.20,0.05,1,0
158,5/1/17,4169,Super Quick 2 / Hubbell,Des Moines,50317.0,1824 Hubbell Ave\rDes Moines 50317\r,POLK,American Brandies,CONSTELLATION BRANDS INC,56194,...,10,600,$7.12,$10.68,NaN,$10.68,1.20,0.31,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427703,5/31/18,3831,The Market Of Madrid,Madrid,50156.0,"301 Annex Rd\rMadrid 50156\r(41.87894, -93.815...",BOONE,American Vodkas,LUXCO INC,36308,...,6,"1,750",$7.17,$10.76,NaN,$64.56,1.75,0.46,0,1
427704,5/31/18,3831,The Market Of Madrid,Madrid,50156.0,"301 Annex Rd\rMadrid 50156\r(41.87894, -93.815...",BOONE,Spiced Rum,DIAGEO AMERICAS,1799,...,6,"1,750",$18.00,$27.00,NaN,$162.00,1.75,0.46,0,1
427705,5/31/18,3831,The Market Of Madrid,Madrid,50156.0,"301 Annex Rd\rMadrid 50156\r(41.87894, -93.815...",BOONE,American Cordials & Liqueur,Prestige Wine & Spirits Group,75226,...,12,750,$10.00,$15.00,NaN,$15.00,1.50,0.39,0,1
427718,5/31/18,2671,Hy-Vee / Jefferson,Jefferson,50129.0,"106, W Washington St\rJefferson 50129\r(42.017...",GREENE,Cream Liqueurs,Gemini Spirits,80456,...,12,750,$6.70,$10.05,NaN,$108.60,0.75,0.19,0,1
427726,5/31/18,2671,Hy-Vee / Jefferson,Jefferson,50129.0,"106, W Washington St\rJefferson 50129\r(42.017...",GREENE,Tennessee Whiskies,Brown Forman Corp.,26826,...,12,750,$15.57,$23.36,NaN,NaN,0.75,0.19,0,1
427732,5/31/18,2671,Hy-Vee / Jefferson,Jefferson,50129.0,"106, W Washington St\rJefferson 50129\r(42.017...",GREENE,Single Malt Scotch,PERNOD RICARD USA,4084,...,6,750,$27.48,$41.22,NaN,$247.32,0.75,0.19,0,1
427738,5/31/18,2671,Hy-Vee / Jefferson,Jefferson,50129.0,"106, W Washington St\rJefferson 50129\r(42.017...",GREENE,Spiced Rum,Heaven Hill Brands,43984,...,12,750,$5.78,$8.67,NaN,$104.04,0.75,0.19,0,1
427746,5/31/18,2671,Hy-Vee / Jefferson,Jefferson,50129.0,"106, W Washington St\rJefferson 50129\r(42.017...",GREENE,American Vodkas,Phillips Beverage,37338,...,6,"1,750",$10.99,$16.49,NaN,$98.94,1.75,0.46,0,1
427749,5/31/18,2671,Hy-Vee / Jefferson,Jefferson,50129.0,"106, W Washington St\rJefferson 50129\r(42.017...",GREENE,American Cordials & Liqueur,Prestige Wine & Spirits Group,75197,...,6,750,$10.00,$15.00,NaN,$90.00,0.75,0.19,0,1
427770,5/31/18,2593,Hy-Vee Food Store / Carroll,Carroll,51401.0,905 US Highway 30 West\rCarroll 51401\r(42.064...,CARROLL,Scotch Whiskies,DIAGEO AMERICAS,4616,...,6,750,$39.49,$59.24,NaN,$59.24,1.50,0.39,0,1
427772,5/31/18,2593,Hy-Vee Food Store / Carroll,Carroll,51401.0,905 US Highway 30 West\rCarroll 51401\r(42.064...,CARROLL,Scotch Whiskies,Edrington Group USA LLC,4936,...,12,750,$12.03,$18.05,NaN,$18.05,2.25,0.59,0,1
427774,5/31/18,2593,Hy-Vee Food Store / Carroll,Carroll,51401.0,905 US Highway 30 West\rCarroll 51401\r(42.064...,CARROLL,Canadian Whiskies,DIAGEO AMERICAS,10805,...,24,375,$8.00,$12.00,NaN,$12.00,0.75,0.19,0,1
427778,5/31/18,2593,Hy-Vee Food Store / Carroll,Carroll,51401.0,905 US Highway 30 West\rCarroll 51401\r(42.064...,CARROLL,Irish Whiskies,PERNOD RICARD USA,15856,...,6,750,$33.48,$50.22,NaN,NaN,1.50,0.39,0,1
427783,5/31/18,2593,Hy-Vee Food Store / Carroll,Carroll,51401.0,905 US Highway 30 West\rCarroll 51401\r(42.064...,CARROLL,Straight Bourbon Whiskies,FOUR ROSES DISTILLERY,18348,...,6,750,$15.17,$22.76,NaN,$22.76,2.25,0.59,0,1
427792,5/31/18,2593,Hy-Vee Food Store / Carroll,Carroll,51401.0,905 US Highway 30 West\rCarroll 51401\r(42.064...,CARROLL,Whiskey Liqueur,Heaven Hill Brands,27453,...,12,500,$4.25,$6.38,NaN,$6.38,1.00,0.26,0,1
427795,5/31/18,2593,Hy-Vee Food Store / Carroll,Carroll,51401.0,905 US Highway 30 West\rCarroll 51401\r(42.064...,CARROLL,Imported Flavored Vodka,PERNOD RICARD USA,34030,...,12,750,$11.49,$17.24,NaN,$17.24,3.00,0.79,0,1
427802,5/31/18,2593,Hy-Vee Food Store / Carroll,Carroll,51401.0,905 US Highway 30 West\rCarroll 51401\r(42.064...,CARROLL,American Vodkas,McCormick Distilling Co.,36904,...,24,375,$1.80,$2.70,NaN,$2.70,2.25,0.59,0,1
427805,5/31/18,2593,Hy-Vee Food Store / Carroll,Carroll,51401.0,905 US Highway 30 West\rCarroll 51401\r(42.064...,CARROLL,Flavored Rum,BACARDI USA INC,43050,...,12,"1,000",$9.50,$14.25,NaN,$14.25,3.00,0.79,0,1
427825,5/31/18,2593,Hy-Vee Food Store / Carroll,Carroll,51401.0,905 US Highway 30 West\rCarroll 51401\r(42.064...,CARROLL,Cream Liqueurs,Heaven Hill Brands,68127,...,12,"1,000",$10.43,$15.65,NaN,$15.65,4.00,1.05,0,1
427835,5/31/18,2593,Hy-Vee Food Store / Carroll,Carroll,51401.0,905 US Highway 30 West\rCarroll 51401\r(42.064...,CARROLL,Whiskey Liqueur,SAZERAC COMPANY INC,86884,...,24,375,$4.78,$7.17,NaN,$7.17,3.00,0.79,0,1
427836,5/31/18,2593,Hy-Vee Food Store / Carroll,Carroll,51401.0,905 US Highway 30 West\rCarroll 51401\r(42.064...,CARROLL,100% Agave Tequila,E & J Gallo Winery,87643,...,12,750,$10.00,$15.00,NaN,$15.00,3.00,0.79,0,1
427847,5/31/18,2593,Hy-Vee Food Store / Carroll,Carroll,51401.0,905 US Highway 30 West\rCarroll 51401\r(42.064...,CARROLL,Canadian Whiskies,DIAGEO AMERICAS,11348,...,6,"1,750",$16.00,$24.00,NaN,$144.00,1.75,0.46,0,1
427866,5/31/18,2593,Hy-Vee Food Store / Carroll,Carroll,51401.0,905 US Highway 30 West\rCarroll 51401\r(42.064...,CARROLL,Blended Whiskies,McCormick Distilling Co.,24706,...,12,750,$3.50,$5.25,NaN,$5.25,4.50,1.18,0,1
427874,5/31/18,2593,Hy-Vee Food Store / Carroll,Carroll,51401.0,905 US Highway 30 West\rCarroll 51401\r(42.064...,CARROLL,Straight Bourbon Whiskies,Jim Beam Brands,27544,...,12,750,$10.49,$15.74,NaN,$15.74,1.50,0.39,0,1
427885,5/31/18,2593,Hy-Vee Food Store / Carroll,Carroll,51401.0,905 US Highway 30 West\rCarroll 51401\r(42.064...,CARROLL,American Vodkas,LUXCO INC,36667,...,12,"1,000",$4.32,$6.48,NaN,$77.76,6.00,1.58,0,1
427902,5/31/18,2595,Hy-Vee Wine and Spirits / Denison,Denison,51442.0,"1620 4th Ave, South\rDenison 51442\r(42.012395...",CRAWFORD,American Vodkas,SAZERAC NORTH AMERICA,35318,...,6,"1,750",$6.92,$10.38,NaN,$62.28,5.25,1.38,0,1
427903,5/31/18,2595,Hy-Vee Wine and Spirits / Denison,Denison,51442.0,"1620 4th Ave, South\rDenison 51442\r(42.012395...",CRAWFORD,American Vodkas,Laird & Company,35926,...,12,750,$3.37,$5.06,NaN,$60.72,0.75,0.19,0,1
427911,5/31/18,2595,Hy-Vee Wine and Spirits / Denison,Denison,51442.0,"1620 4th Ave, South\rDenison 51442\r(42.012395...",CRAWFORD,Cream Liqueurs,DIAGEO AMERICAS,68037,...,12,"1,000",$16.50,$24.75,NaN,$297.00,1.00,0.26,0,1
427914,5/31/18,2595,Hy-Vee Wine and Spirits / Denison,Denison,51442.0,"1620 4th Ave, South\rDenison 51442\r(42.012395...",CRAWFORD,American Schnapps,Jim Beam Brands,82787,...,12,"1,000",$7.87,$11.81,NaN,$141.72,1.00,0.26,0,1
427920,5/31/18,2595,Hy-Vee Wine and Spirits / Denison,Denison,51442.0,"1620 4th Ave, South\rDenison 51442\r(42.012395...",CRAWFORD,Iowa Distilleries,Infinium Spirits,27125,...,6,750,$22.75,$34.13,NaN,NaN,0.75,0.19,0,1

In [13]:
# obtain just the number of rows
liq[liq.bottles_sold.isnull()].shape[0]

66817

In [14]:
# divide this by the overall DataFrame to get a percent of missing values
liq[liq.bottles_sold.isnull()].shape[0] / liq.shape[0]

0.15614257705241363

Let's do the same for `sale`.

In [15]:
liq[liq.sale.isnull()].shape[0] / liq.shape[0]

0.06775518025439156

Collectively, we are missing about 16% of data on the number of bottles sold in a given daily transaction, and about 7% of the data on total sale value for a given number of items in a single day.

### Filling in missing data

How we fill in data depends largely on why it is missing (types of missingness) and what sampling we have available to us.

We may:

- Delete missing data altogether
- Fill in missing data with:
    - The average of the column
    - The median of the column
    - A predicted amount based on other factors
- Collect more data:
    - Resample the population
    - Followup with the authority providing data that is missing

In our case, let's focus on handling `bottles_sold`.

In [16]:
# Can we identify a pattern of missingness (no)
liq[liq.bottles_sold.isnull()]

,date,store_number,store_name,city,zip_code,location,county,category_name,vendor_name,item_number,...,pack,bottle_vol_ml,state_bottle_cost,state_bottle_retail,bottles_sold,sale,volumne_sold_l,volume_sold_gal,is_may_2017,is_may_2018
5,5/3/17,5105,Three Brothers Liquors,North Liberty,52317.0,585 HIGHWAY 965\rNorth Liberty 52317\r(41.7381...,JOHNSON,American Vodka,A V BRANDS INC,937040,...,6,750,$21.99,$32.99,NaN,NaN,1.50,0.39,1,0
7,5/1/17,4301,Sahota Food Mart,Des Moines,50320.0,"1805 SE 14th St\rDes Moines 50320\r(41.57222, ...",POLK,American Vodkas,Laird & Company,35914,...,24,375,$1.93,$2.90,NaN,$69.60,0.37,0.09,1,0
10,5/1/17,4301,Sahota Food Mart,Des Moines,50320.0,"1805 SE 14th St\rDes Moines 50320\r(41.57222, ...",POLK,Imported Brandies,Jim Beam Brands,47790,...,24,200,$4.72,$7.08,NaN,$169.92,0.40,0.10,1,0
16,5/1/17,4301,Sahota Food Mart,Des Moines,50320.0,"1805 SE 14th St\rDes Moines 50320\r(41.57222, ...",POLK,100% Agave Tequila,DIAGEO AMERICAS,89175,...,6,750,$32.99,$49.49,NaN,$49.49,2.25,0.59,1,0
30,5/1/17,4617,Lickety Liquor,Des Moines,50317.0,2501 HUBBELL AVE\rDes Moines 50317\r(41.607866...,POLK,Tennessee Whiskies,Brown Forman Corp.,86670,...,12,750,$15.57,$23.36,NaN,$23.36,1.50,0.39,1,0
39,5/1/17,4617,Lickety Liquor,Des Moines,50317.0,2501 HUBBELL AVE\rDes Moines 50317\r(41.607866...,POLK,Imported Cordials & Liqueurs,"Sidney Frank Importing Company, Inc.",65253,...,48,200,$3.51,$5.27,NaN,$252.96,0.20,0.05,1,0
40,5/1/17,4617,Lickety Liquor,Des Moines,50317.0,2501 HUBBELL AVE\rDes Moines 50317\r(41.607866...,POLK,100% Agave Tequila,Patron Spirits Company,88294,...,12,375,$14.50,$21.75,NaN,$261.00,0.37,0.09,1,0
42,5/1/17,4617,Lickety Liquor,Des Moines,50317.0,2501 HUBBELL AVE\rDes Moines 50317\r(41.607866...,POLK,Canadian Whiskies,SAZERAC NORTH AMERICA,12407,...,12,"1,000",$5.50,$8.25,NaN,$8.25,3.00,0.79,1,0
44,5/1/17,2190,"Central City Liquor, Inc.",Des Moines,50314.0,"1460 2ND AVE\rDes Moines 50314\r(41.60566, -93...",POLK,American Vodkas,McCormick Distilling Co.,36908,...,6,"1,750",$7.47,$11.21,NaN,$67.26,1.75,0.46,1,0
49,5/1/17,2190,"Central City Liquor, Inc.",Des Moines,50314.0,"1460 2ND AVE\rDes Moines 50314\r(41.60566, -93...",POLK,Imported Flavored Vodka,DIAGEO AMERICAS,64573,...,12,750,$18.49,$27.74,NaN,$27.74,2.25,0.59,1,0
54,5/1/17,2190,"Central City Liquor, Inc.",Des Moines,50314.0,"1460 2ND AVE\rDes Moines 50314\r(41.60566, -93...",POLK,Imported Dry Gins,DIAGEO AMERICAS,28867,...,12,"1,000",$15.50,$23.25,NaN,$23.25,2.00,0.52,1,0
59,5/1/17,2190,"Central City Liquor, Inc.",Des Moines,50314.0,"1460 2ND AVE\rDes Moines 50314\r(41.60566, -93...",POLK,Imported Cordials & Liqueurs,Mhw LTD,65017,...,24,375,$10.75,$16.13,NaN,$16.13,0.75,0.19,1,0
68,5/1/17,2190,"Central City Liquor, Inc.",Des Moines,50314.0,"1460 2ND AVE\rDes Moines 50314\r(41.60566, -93...",POLK,Gold Rum,Skyy Spirits Inc,43371,...,12,750,$10.50,$15.75,NaN,$15.75,1.50,0.39,1,0
70,5/1/17,2190,"Central City Liquor, Inc.",Des Moines,50314.0,"1460 2ND AVE\rDes Moines 50314\r(41.60566, -93...",POLK,Flavored Rum,BACARDI USA INC,43051,...,12,750,$8.26,$12.39,NaN,$12.39,1.50,0.39,1,0
80,5/1/17,2190,"Central City Liquor, Inc.",Des Moines,50314.0,"1460 2ND AVE\rDes Moines 50314\r(41.60566, -93...",POLK,Tennessee Whiskies,Brown Forman Corp.,26828,...,6,"1,750",$30.68,$46.02,NaN,$276.12,1.75,0.46,1,0
84,5/1/17,2190,"Central City Liquor, Inc.",Des Moines,50314.0,"1460 2ND AVE\rDes Moines 50314\r(41.60566, -93...",POLK,Imported Brandies,MOET HENNESSY USA,48105,...,12,375,$10.24,$15.36,NaN,$184.32,0.37,0.09,1,0
87,5/1/17,5169,AV Superstop,Des Moines,50313.0,5120 NE 14th Street\rDes Moines 50313\r(41.653...,POLK,Straight Bourbon Whiskies,Jim Beam Brands,19066,...,12,750,$10.49,$15.74,NaN,$15.74,3.00,0.79,1,0
88,5/1/17,5169,AV Superstop,Des Moines,50313.0,5120 NE 14th Street\rDes Moines 50313\r(41.653...,POLK,Straight Bourbon Whiskies,Jim Beam Brands,19064,...,24,375,$5.25,$7.88,NaN,$7.88,1.87,0.49,1,0
91,5/1/17,5169,AV Superstop,Des Moines,50313.0,5120 NE 14th Street\rDes Moines 50313\r(41.653...,POLK,Imported Vodkas,BACARDI USA INC,34423,...,12,375,$9.00,$13.50,NaN,$13.50,1.50,0.39,1,0
92,5/1/17,5169,AV Superstop,Des Moines,50313.0,5120 NE 14th Street\rDes Moines 50313\r(41.653...,POLK,Imported Vodkas,PERNOD RICARD USA,34004,...,24,375,$6.49,$9.74,NaN,NaN,1.50,0.39,1,0
93,5/1/17,5169,AV Superstop,Des Moines,50313.0,5120 NE 14th Street\rDes Moines 50313\r(41.653...,POLK,Imported Vodkas,PERNOD RICARD USA,34003,...,24,200,$3.99,$5.99,NaN,$5.99,0.80,0.21,1,0
108,5/1/17,4829,Central City 2,Des Moines,50314.0,1501 Michigan Ave\rDes Moines 50314\r(41.60572...,POLK,100% Agave Tequila,Jim Beam Brands,89846,...,6,750,$20.99,$31.49,NaN,$188.94,0.75,0.19,1,0
112,5/1/17,4829,Central City 2,Des Moines,50314.0,1501 Michigan Ave\rDes Moines 50314\r(41.60572...,POLK,American Flavored Vodka,E & J Gallo Winery,40594,...,12,750,$7.50,$11.25,NaN,$135.00,0.75,0.19,1,0
120,5/1/17,4600,Kum & Go #207 / Hubbell DM,Des Moines,50317.0,4200 E Hubbell Ave\rDes Moines 50317\r(41.6359...,POLK,Whiskey Liqueur,SAZERAC COMPANY INC,64858,...,1,"3,000",$29.72,$44.58,NaN,$44.58,6.00,1.58,1,0
130,5/1/17,4599,Quik Trip #500 / Hubbell DM,Des Moines,50317.0,3700 Hubbell Ave\rDes Moines 50317\r(41.628988...,POLK,Tennessee Whiskies,Brown Forman Corp.,86691,...,12,500,$9.06,$13.59,NaN,$13.59,0.50,0.13,1,0
131,5/1/17,4599,Quik Trip #500 / Hubbell DM,Des Moines,50317.0,3700 Hubbell Ave\rDes Moines 50317\r(41.628988...,POLK,Canadian Whiskies,DIAGEO AMERICAS,11290,...,10,300,$7.35,$11.03,NaN,$11.03,0.30,0.07,1,0
134,5/1/17,4273,Smokin' Joe's #4 Tobacco and Liquor Outlet,Des Moines,50317.0,2800 E University Ave\rDes Moines 50317\r(41.6...,POLK,Temporary & Specialty Packages,DIAGEO AMERICAS,77955,...,12,500,$7.47,$11.21,NaN,$134.52,0.50,0.13,1,0
143,5/1/17,4273,Smokin' Joe's #4 Tobacco and Liquor Outlet,Des Moines,50317.0,2800 E University Ave\rDes Moines 50317\r(41.6...,POLK,American Brandies,CONSTELLATION BRANDS INC,56196,...,12,750,$6.29,$9.44,NaN,$9.44,1.50,0.39,1,0
148,5/1/17,4273,Smokin' Joe's #4 Tobacco and Liquor Outlet,Des Moines,50317.0,2800 E University Ave\rDes Moines 50317\r(41.6...,POLK,American Vodkas,McCormick Distilling Co.,36903,...,48,200,$1.13,$1.70,NaN,$81.60,0.20,0.05,1,0
158,5/1/17,4169,Super Quick 2 / Hubbell,Des Moines,50317.0,1824 Hubbell Ave\rDes Moines 50317\r,POLK,American Brandies,CONSTELLATION BRANDS INC,56194,...,10,600,$7.12,$10.68,NaN,$10.68,1.20,0.31,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427703,5/31/18,3831,The Market Of Madrid,Madrid,50156.0,"301 Annex Rd\rMadrid 50156\r(41.87894, -93.815...",BOONE,American Vodkas,LUXCO INC,36308,...,6,"1,750",$7.17,$10.76,NaN,$64.56,1.75,0.46,0,1
427704,5/31/18,3831,The Market Of Madrid,Madrid,50156.0,"301 Annex Rd\rMadrid 50156\r(41.87894, -93.815...",BOONE,Spiced Rum,DIAGEO AMERICAS,1799,...,6,"1,750",$18.00,$27.00,NaN,$162.00,1.75,0.46,0,1
427705,5/31/18,3831,The Market Of Madrid,Madrid,50156.0,"301 Annex Rd\rMadrid 50156\r(41.87894, -93.815...",BOONE,American Cordials & Liqueur,Prestige Wine & Spirits Group,75226,...,12,750,$10.00,$15.00,NaN,$15.00,1.50,0.39,0,1
427718,5/31/18,2671,Hy-Vee / Jefferson,Jefferson,50129.0,"106, W Washington St\rJefferson 50129\r(42.017...",GREENE,Cream Liqueurs,Gemini Spirits,80456,...,12,750,$6.70,$10.05,NaN,$108.60,0.75,0.19,0,1
427726,5/31/18,2671,Hy-Vee / Jefferson,Jefferson,50129.0,"106, W Washington St\rJefferson 50129\r(42.017...",GREENE,Tennessee Whiskies,Brown Forman Corp.,26826,...,12,750,$15.57,$23.36,NaN,NaN,0.75,0.19,0,1
427732,5/31/18,2671,Hy-Vee / Jefferson,Jefferson,50129.0,"106, W Washington St\rJefferson 50129\r(42.017...",GREENE,Single Malt Scotch,PERNOD RICARD USA,4084,...,6,750,$27.48,$41.22,NaN,$247.32,0.75,0.19,0,1
427738,5/31/18,2671,Hy-Vee / Jefferson,Jefferson,50129.0,"106, W Washington St\rJefferson 50129\r(42.017...",GREENE,Spiced Rum,Heaven Hill Brands,43984,...,12,750,$5.78,$8.67,NaN,$104.04,0.75,0.19,0,1
427746,5/31/18,2671,Hy-Vee / Jefferson,Jefferson,50129.0,"106, W Washington St\rJefferson 50129\r(42.017...",GREENE,American Vodkas,Phillips Beverage,37338,...,6,"1,750",$10.99,$16.49,NaN,$98.94,1.75,0.46,0,1
427749,5/31/18,2671,Hy-Vee / Jefferson,Jefferson,50129.0,"106, W Washington St\rJefferson 50129\r(42.017...",GREENE,American Cordials & Liqueur,Prestige Wine & Spirits Group,75197,...,6,750,$10.00,$15.00,NaN,$90.00,0.75,0.19,0,1
427770,5/31/18,2593,Hy-Vee Food Store / Carroll,Carroll,51401.0,905 US Highway 30 West\rCarroll 51401\r(42.064...,CARROLL,Scotch Whiskies,DIAGEO AMERICAS,4616,...,6,750,$39.49,$59.24,NaN,$59.24,1.50,0.39,0,1
427772,5/31/18,2593,Hy-Vee Food Store / Carroll,Carroll,51401.0,905 US Highway 30 West\rCarroll 51401\r(42.064...,CARROLL,Scotch Whiskies,Edrington Group USA LLC,4936,...,12,750,$12.03,$18.05,NaN,$18.05,2.25,0.59,0,1
427774,5/31/18,2593,Hy-Vee Food Store / Carroll,Carroll,51401.0,905 US Highway 30 West\rCarroll 51401\r(42.064...,CARROLL,Canadian Whiskies,DIAGEO AMERICAS,10805,...,24,375,$8.00,$12.00,NaN,$12.00,0.75,0.19,0,1
427778,5/31/18,2593,Hy-Vee Food Store / Carroll,Carroll,51401.0,905 US Highway 30 West\rCarroll 51401\r(42.064...,CARROLL,Irish Whiskies,PERNOD RICARD USA,15856,...,6,750,$33.48,$50.22,NaN,NaN,1.50,0.39,0,1
427783,5/31/18,2593,Hy-Vee Food Store / Carroll,Carroll,51401.0,905 US Highway 30 West\rCarroll 51401\r(42.064...,CARROLL,Straight Bourbon Whiskies,FOUR ROSES DISTILLERY,18348,...,6,750,$15.17,$22.76,NaN,$22.76,2.25,0.59,0,1
427792,5/31/18,2593,Hy-Vee Food Store / Carroll,Carroll,51401.0,905 US Highway 30 West\rCarroll 51401\r(42.064...,CARROLL,Whiskey Liqueur,Heaven Hill Brands,27453,...,12,500,$4.25,$6.38,NaN,$6.38,1.00,0.26,0,1
427795,5/31/18,2593,Hy-Vee Food Store / Carroll,Carroll,51401.0,905 US Highway 30 West\rCarroll 51401\r(42.064...,CARROLL,Imported Flavored Vodka,PERNOD RICARD USA,34030,...,12,750,$11.49,$17.24,NaN,$17.24,3.00,0.79,0,1
427802,5/31/18,2593,Hy-Vee Food Store / Carroll,Carroll,51401.0,905 US Highway 30 West\rCarroll 51401\r(42.064...,CARROLL,American Vodkas,McCormick Distilling Co.,36904,...,24,375,$1.80,$2.70,NaN,$2.70,2.25,0.59,0,1
427805,5/31/18,2593,Hy-Vee Food Store / Carroll,Carroll,51401.0,905 US Highway 30 West\rCarroll 51401\r(42.064...,CARROLL,Flavored Rum,BACARDI USA INC,43050,...,12,"1,000",$9.50,$14.25,NaN,$14.25,3.00,0.79,0,1
427825,5/31/18,2593,Hy-Vee Food Store / Carroll,Carroll,51401.0,905 US Highway 30 West\rCarroll 51401\r(42.064...,CARROLL,Cream Liqueurs,Heaven Hill Brands,68127,...,12,"1,000",$10.43,$15.65,NaN,$15.65,4.00,1.05,0,1
427835,5/31/18,2593,Hy-Vee Food Store / Carroll,Carroll,51401.0,905 US Highway 30 West\rCarroll 51401\r(42.064...,CARROLL,Whiskey Liqueur,SAZERAC COMPANY INC,86884,...,24,375,$4.78,$7.17,NaN,$7.17,3.00,0.79,0,1
427836,5/31/18,2593,Hy-Vee Food Store / Carroll,Carroll,51401.0,905 US Highway 30 West\rCarroll 51401\r(42.064...,CARROLL,100% Agave Tequila,E & J Gallo Winery,87643,...,12,750,$10.00,$15.00,NaN,$15.00,3.00,0.79,0,1
427847,5/31/18,2593,Hy-Vee Food Store / Carroll,Carroll,51401.0,905 US Highway 30 West\rCarroll 51401\r(42.064...,CARROLL,Canadian Whiskies,DIAGEO AMERICAS,11348,...,6,"1,750",$16.00,$24.00,NaN,$144.00,1.75,0.46,0,1
427866,5/31/18,2593,Hy-Vee Food Store / Carroll,Carroll,51401.0,905 US Highway 30 West\rCarroll 51401\r(42.064...,CARROLL,Blended Whiskies,McCormick Distilling Co.,24706,...,12,750,$3.50,$5.25,NaN,$5.25,4.50,1.18,0,1
427874,5/31/18,2593,Hy-Vee Food Store / Carroll,Carroll,51401.0,905 US Highway 30 West\rCarroll 51401\r(42.064...,CARROLL,Straight Bourbon Whiskies,Jim Beam Brands,27544,...,12,750,$10.49,$15.74,NaN,$15.74,1.50,0.39,0,1
427885,5/31/18,2593,Hy-Vee Food Store / Carroll,Carroll,51401.0,905 US Highway 30 West\rCarroll 51401\r(42.064...,CARROLL,American Vodkas,LUXCO INC,36667,...,12,"1,000",$4.32,$6.48,NaN,$77.76,6.00,1.58,0,1
427902,5/31/18,2595,Hy-Vee Wine and Spirits / Denison,Denison,51442.0,"1620 4th Ave, South\rDenison 51442\r(42.012395...",CRAWFORD,American Vodkas,SAZERAC NORTH AMERICA,35318,...,6,"1,750",$6.92,$10.38,NaN,$62.28,5.25,1.38,0,1
427903,5/31/18,2595,Hy-Vee Wine and Spirits / Denison,Denison,51442.0,"1620 4th Ave, South\rDenison 51442\r(42.012395...",CRAWFORD,American Vodkas,Laird & Company,35926,...,12,750,$3.37,$5.06,NaN,$60.72,0.75,0.19,0,1
427911,5/31/18,2595,Hy-Vee Wine and Spirits / Denison,Denison,51442.0,"1620 4th Ave, South\rDenison 51442\r(42.012395...",CRAWFORD,Cream Liqueurs,DIAGEO AMERICAS,68037,...,12,"1,000",$16.50,$24.75,NaN,$297.00,1.00,0.26,0,1
427914,5/31/18,2595,Hy-Vee Wine and Spirits / Denison,Denison,51442.0,"1620 4th Ave, South\rDenison 51442\r(42.012395...",CRAWFORD,American Schnapps,Jim Beam Brands,82787,...,12,"1,000",$7.87,$11.81,NaN,$141.72,1.00,0.26,0,1
427920,5/31/18,2595,Hy-Vee Wine and Spirits / Denison,Denison,51442.0,"1620 4th Ave, South\rDenison 51442\r(42.012395...",CRAWFORD,Iowa Distilleries,Infinium Spirits,27125,...,6,750,$22.75,$34.13,NaN,NaN,0.75,0.19,0,1

In [17]:
# Do the missing values have a significantly different five number summary than non-missing?
liq[liq.bottles_sold.isnull()].describe()

,store_number,zip_code,item_number,pack,bottles_sold,volumne_sold_l,volume_sold_gal,is_may_2017,is_may_2018
count,66817.000000,66817.000000,66817.000000,66817.000000,0.0,66817.000000,66817.000000,66817.000000,66817.000000
mean,3791.062170,51280.016149,46513.278821,12.391263,NaN,1.956703,0.511402,0.489905,0.510095
std,1091.560203,986.335237,53291.422537,7.799176,NaN,5.707728,1.508028,0.499902,0.499902
min,2106.000000,50002.000000,139.000000,1.000000,NaN,0.020000,0.000000,0.000000,0.000000
25%,2616.000000,50317.000000,27175.000000,6.000000,NaN,0.750000,0.190000,0.000000,0.000000
50%,3857.000000,51105.000000,38177.000000,12.000000,NaN,1.500000,0.390000,0.000000,1.000000
75%,4806.000000,52314.000000,64858.000000,12.000000,NaN,2.000000,0.520000,1.000000,1.000000
max,9925.000000,56201.000000,995604.000000,48.000000,NaN,350.000000,92.460000,1.000000,1.000000

In [18]:
# full dataset 5-number summary
liq.describe()

,store_number,zip_code,item_number,pack,bottles_sold,volumne_sold_l,volume_sold_gal,is_may_2017,is_may_2018
count,427923.000000,427909.000000,427923.000000,427923.000000,361106.000000,427923.000000,427923.000000,427923.000000,427923.000000
mean,3789.924475,51275.466083,46367.248790,12.423403,2.254344,1.984745,0.518811,0.489308,0.510692
std,1090.596072,986.858053,52774.045141,7.849579,4.021036,6.175569,1.631609,0.499886,0.499886
min,2106.000000,50002.000000,139.000000,1.000000,0.000000,0.010000,0.000000,0.000000,0.000000
25%,2616.000000,50317.000000,27125.000000,6.000000,1.000000,0.750000,0.190000,0.000000,0.000000
50%,3849.000000,51104.000000,38177.000000,12.000000,1.000000,1.500000,0.390000,0.000000,1.000000
75%,4802.000000,52314.000000,64762.000000,12.000000,3.000000,2.000000,0.520000,1.000000,1.000000
max,9937.000000,56201.000000,998546.000000,48.000000,315.000000,551.250000,145.620000,1.000000,1.000000

In [19]:
# check the difference between the two
liq.describe() - liq[liq.bottles_sold.isnull()].describe()

,store_number,zip_code,item_number,pack,bottles_sold,volumne_sold_l,volume_sold_gal,is_may_2017,is_may_2018
count,361106.000000,361092.000000,361106.000000,361106.000000,361106.0,361106.000000,361106.000000,361106.000000,361106.000000
mean,-1.137695,-4.550066,-146.030031,0.032141,NaN,0.028042,0.007408,-0.000598,0.000598
std,-0.964132,0.522816,-517.377396,0.050403,NaN,0.467841,0.123581,-0.000016,-0.000016
min,0.000000,0.000000,0.000000,0.000000,NaN,-0.010000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,-50.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000
50%,-8.000000,-1.000000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000
75%,-4.000000,0.000000,-96.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000
max,12.000000,0.000000,2942.000000,0.000000,NaN,201.250000,53.160000,0.000000,0.000000

It appears the two samples do not have *significant* differences! (We could run statistical tests, but...another day.)

Now, this makes sense! We did randomly drop values, afterall.

Option 1: Drop the missing values.

In [20]:
# drops rows where any row has a missing value - this does not happen *in place*, so we are not actually dropping
liq.dropna()

,date,store_number,store_name,city,zip_code,location,county,category_name,vendor_name,item_number,...,pack,bottle_vol_ml,state_bottle_cost,state_bottle_retail,bottles_sold,sale,volumne_sold_l,volume_sold_gal,is_may_2017,is_may_2018
0,5/2/17,5286,Sauce,Iowa City,52240.0,"108, College\rIowa City 52240\r",JOHNSON,Blended Whiskies,Laird & Company,23827,...,12,"1,000",$4.40,$6.60,1.0,$79.20,1.00,0.26,1,0
1,5/1/17,4169,Super Quick 2 / Hubbell,Des Moines,50317.0,1824 Hubbell Ave\rDes Moines 50317\r,POLK,Canadian Whiskies,CONSTELLATION BRANDS INC,11773,...,48,200,$1.56,$2.34,1.0,$112.32,0.20,0.05,1,0
2,5/1/17,2641,Hy-Vee Drugstore / Council Bluffs,Council Bluffs,51501.0,757 W Broadway\rCouncil Bluffs 51501\r(41.2616...,POTTAWATTA,American Cordials & Liqueur,SAZERAC NORTH AMERICA,84207,...,10,600,$6.00,$9.00,1.0,$9.00,0.60,0.15,1,0
3,5/1/17,2641,Hy-Vee Drugstore / Council Bluffs,Council Bluffs,51501.0,757 W Broadway\rCouncil Bluffs 51501\r(41.2616...,POTTAWATTA,American Cordials & Liqueur,SAZERAC NORTH AMERICA,84197,...,10,600,$6.00,$9.00,1.0,$9.00,0.60,0.15,1,0
4,5/3/17,2565,Hy-Vee Food Store / Spencer,Spencer,51301.0,"819 N Grand Ave\rSpencer 51301\r(43.145897, -9...",CLAY,Mixto Tequila,LUXCO INC,89448,...,6,"1,750",$12.00,$18.00,3.0,$18.00,5.25,1.38,1,0
6,5/1/17,4301,Sahota Food Mart,Des Moines,50320.0,"1805 SE 14th St\rDes Moines 50320\r(41.57222, ...",POLK,American Brandies,CONSTELLATION BRANDS INC,53214,...,24,375,$3.22,$4.83,1.0,$115.92,0.37,0.09,1,0
8,5/1/17,4301,Sahota Food Mart,Des Moines,50320.0,"1805 SE 14th St\rDes Moines 50320\r(41.57222, ...",POLK,Imported Vodkas,BACARDI USA INC,34359,...,12,200,$5.00,$7.50,1.0,$90.00,0.20,0.05,1,0
9,5/1/17,4301,Sahota Food Mart,Des Moines,50320.0,"1805 SE 14th St\rDes Moines 50320\r(41.57222, ...",POLK,Imported Vodkas,BACARDI USA INC,34423,...,12,375,$9.00,$13.50,1.0,$162.00,0.37,0.09,1,0
11,5/1/17,4301,Sahota Food Mart,Des Moines,50320.0,"1805 SE 14th St\rDes Moines 50320\r(41.57222, ...",POLK,Imported Brandies,REMY COINTREAU USA INC,49084,...,12,375,$12.90,$19.35,1.0,$232.20,0.37,0.09,1,0
12,5/1/17,4301,Sahota Food Mart,Des Moines,50320.0,"1805 SE 14th St\rDes Moines 50320\r(41.57222, ...",POLK,Whiskey Liqueur,SAZERAC COMPANY INC,64868,...,6,"1,750",$15.33,$23.00,1.0,$138.00,1.75,0.46,1,0
13,5/1/17,4301,Sahota Food Mart,Des Moines,50320.0,"1805 SE 14th St\rDes Moines 50320\r(41.57222, ...",POLK,Canadian Whiskies,DIAGEO AMERICAS,10805,...,24,375,$8.00,$12.00,1.0,$288.00,0.37,0.09,1,0
14,5/1/17,4301,Sahota Food Mart,Des Moines,50320.0,"1805 SE 14th St\rDes Moines 50320\r(41.57222, ...",POLK,100% Agave Tequila,Jim Beam Brands,89836,...,12,750,$12.07,$18.11,1.0,$217.32,0.75,0.19,1,0
15,5/1/17,4301,Sahota Food Mart,Des Moines,50320.0,"1805 SE 14th St\rDes Moines 50320\r(41.57222, ...",POLK,Imported Cordials & Liqueurs,BACARDI USA INC,47863,...,12,375,$16.34,$24.51,1.0,$294.12,0.37,0.09,1,0
17,5/1/17,4301,Sahota Food Mart,Des Moines,50320.0,"1805 SE 14th St\rDes Moines 50320\r(41.57222, ...",POLK,American Schnapps,Jim Beam Brands,82604,...,24,375,$3.06,$4.59,4.0,$4.59,1.50,0.39,1,0
18,5/1/17,4301,Sahota Food Mart,Des Moines,50320.0,"1805 SE 14th St\rDes Moines 50320\r(41.57222, ...",POLK,American Schnapps,Jim Beam Brands,82605,...,12,750,$6.47,$9.71,4.0,$9.71,3.00,0.79,1,0
19,5/1/17,4301,Sahota Food Mart,Des Moines,50320.0,"1805 SE 14th St\rDes Moines 50320\r(41.57222, ...",POLK,Imported Brandies,MOET HENNESSY USA,48108,...,6,"1,750",$44.99,$67.49,1.0,$404.94,1.75,0.46,1,0
20,5/1/17,4617,Lickety Liquor,Des Moines,50317.0,2501 HUBBELL AVE\rDes Moines 50317\r(41.607866...,POLK,American Vodkas,DIAGEO AMERICAS,37996,...,12,750,$8.25,$12.38,3.0,$12.38,2.25,0.59,1,0
21,5/1/17,4617,Lickety Liquor,Des Moines,50317.0,2501 HUBBELL AVE\rDes Moines 50317\r(41.607866...,POLK,Imported Vodkas,PERNOD RICARD USA,34006,...,12,750,$11.49,$17.24,2.0,$17.24,1.50,0.39,1,0
22,5/1/17,4617,Lickety Liquor,Des Moines,50317.0,2501 HUBBELL AVE\rDes Moines 50317\r(41.607866...,POLK,American Schnapps,Jim Beam Brands,82636,...,12,750,$6.47,$9.71,2.0,$9.71,1.50,0.39,1,0
23,5/1/17,4617,Lickety Liquor,Des Moines,50317.0,2501 HUBBELL AVE\rDes Moines 50317\r(41.607866...,POLK,Flavored Rum,BACARDI USA INC,43136,...,12,750,$8.26,$12.39,2.0,$12.39,1.50,0.39,1,0
24,5/1/17,4617,Lickety Liquor,Des Moines,50317.0,2501 HUBBELL AVE\rDes Moines 50317\r(41.607866...,POLK,American Vodkas,SAZERAC NORTH AMERICA,35946,...,12,750,$3.31,$4.97,1.0,$59.64,0.75,0.19,1,0
25,5/1/17,4617,Lickety Liquor,Des Moines,50317.0,2501 HUBBELL AVE\rDes Moines 50317\r(41.607866...,POLK,American Vodkas,LUXCO INC,36306,...,12,750,$3.34,$5.01,1.0,$60.12,0.75,0.19,1,0
26,5/1/17,4617,Lickety Liquor,Des Moines,50317.0,2501 HUBBELL AVE\rDes Moines 50317\r(41.607866...,POLK,Temporary & Specialty Packages,DIAGEO AMERICAS,77956,...,12,750,$8.25,$12.38,1.0,$148.56,0.75,0.19,1,0
27,5/1/17,4617,Lickety Liquor,Des Moines,50317.0,2501 HUBBELL AVE\rDes Moines 50317\r(41.607866...,POLK,Whiskey Liqueur,Heaven Hill Brands,86796,...,12,750,$5.37,$8.06,1.0,$96.72,0.75,0.19,1,0
28,5/1/17,4617,Lickety Liquor,Des Moines,50317.0,2501 HUBBELL AVE\rDes Moines 50317\r(41.607866...,POLK,Canadian Whiskies,CONSTELLATION BRANDS INC,11773,...,48,200,$1.56,$2.34,1.0,$112.32,0.20,0.05,1,0
31,5/1/17,4617,Lickety Liquor,Des Moines,50317.0,2501 HUBBELL AVE\rDes Moines 50317\r(41.607866...,POLK,American Vodkas,McCormick Distilling Co.,36904,...,24,375,$1.80,$2.70,1.0,$64.80,0.37,0.09,1,0
32,5/1/17,4617,Lickety Liquor,Des Moines,50317.0,2501 HUBBELL AVE\rDes Moines 50317\r(41.607866...,POLK,American Flavored Vodka,E & J Gallo Winery,40191,...,24,200,$2.24,$3.36,1.0,$80.64,0.20,0.05,1,0
33,5/1/17,4617,Lickety Liquor,Des Moines,50317.0,2501 HUBBELL AVE\rDes Moines 50317\r(41.607866...,POLK,American Flavored Vodka,Phillips Beverage,41692,...,6,"1,750",$10.99,$16.49,2.0,$16.49,3.50,0.92,1,0
34,5/1/17,4617,Lickety Liquor,Des Moines,50317.0,2501 HUBBELL AVE\rDes Moines 50317\r(41.607866...,POLK,American Vodkas,Phillips Beverage,37338,...,6,"1,750",$10.99,$16.49,2.0,$16.49,3.50,0.92,1,0
35,5/1/17,4617,Lickety Liquor,Des Moines,50317.0,2501 HUBBELL AVE\rDes Moines 50317\r(41.607866...,POLK,American Dry Gins,PERNOD RICARD USA,32232,...,48,100,$0.97,$1.46,1.0,$70.08,0.10,0.02,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427888,5/31/18,2595,Hy-Vee Wine and Spirits / Denison,Denison,51442.0,"1620 4th Ave, South\rDenison 51442\r(42.012395...",CRAWFORD,Imported Brandies,Jim Beam Brands,47786,...,12,750,$16.79,$25.19,1.0,$25.19,0.75,0.19,0,1
427889,5/31/18,2595,Hy-Vee Wine and Spirits / Denison,Denison,51442.0,"1620 4th Ave, South\rDenison 51442\r(42.012395...",CRAWFORD,Scotch Whiskies,PERNOD RICARD USA,4716,...,12,750,$18.49,$27.74,2.0,$27.74,1.50,0.39,0,1
427890,5/31/18,2595,Hy-Vee Wine and Spirits / Denison,Denison,51442.0,"1620 4th Ave, South\rDenison 51442\r(42.012395...",CRAWFORD,Imported Vodkas,DIAGEO AMERICAS,34458,...,6,"1,750",$22.00,$33.00,1.0,$198.00,1.75,0.46,0,1
427891,5/31/18,2595,Hy-Vee Wine and Spirits / Denison,Denison,51442.0,"1620 4th Ave, South\rDenison 51442\r(42.012395...",CRAWFORD,Spiced Rum,DIAGEO AMERICAS,43337,...,12,"1,000",$11.75,$17.63,4.0,$211.56,4.00,1.05,0,1
427892,5/31/18,2595,Hy-Vee Wine and Spirits / Denison,Denison,51442.0,"1620 4th Ave, South\rDenison 51442\r(42.012395...",CRAWFORD,Flavored Rum,BACARDI USA INC,43137,...,12,"1,000",$9.50,$14.25,1.0,$171.00,1.00,0.26,0,1
427893,5/31/18,2595,Hy-Vee Wine and Spirits / Denison,Denison,51442.0,"1620 4th Ave, South\rDenison 51442\r(42.012395...",CRAWFORD,Flavored Rum,BACARDI USA INC,43138,...,6,"1,750",$15.00,$22.50,1.0,$135.00,1.75,0.46,0,1
427894,5/31/18,2595,Hy-Vee Wine and Spirits / Denison,Denison,51442.0,"1620 4th Ave, South\rDenison 51442\r(42.012395...",CRAWFORD,Imported Schnapps,DIAGEO AMERICAS,69947,...,12,"1,000",$15.75,$23.63,2.0,$283.56,2.00,0.52,0,1
427895,5/31/18,2595,Hy-Vee Wine and Spirits / Denison,Denison,51442.0,"1620 4th Ave, South\rDenison 51442\r(42.012395...",CRAWFORD,Coffee Liqueurs,LUXCO INC,72816,...,12,750,$5.00,$7.50,1.0,$90.00,0.75,0.19,0,1
427896,5/31/18,2595,Hy-Vee Wine and Spirits / Denison,Denison,51442.0,"1620 4th Ave, South\rDenison 51442\r(42.012395...",CRAWFORD,Cocktails /RTD,SAZERAC NORTH AMERICA,57148,...,6,"1,750",$6.00,$9.25,1.0,$58.50,1.75,0.46,0,1
427897,5/31/18,2595,Hy-Vee Wine and Spirits / Denison,Denison,51442.0,"1620 4th Ave, South\rDenison 51442\r(42.012395...",CRAWFORD,American Schnapps,Jim Beam Brands,82867,...,12,"1,000",$7.87,$11.81,1.0,$141.72,1.00,0.26,0,1
427898,5/31/18,2595,Hy-Vee Wine and Spirits / Denison,Denison,51442.0,"1620 4th Ave, South\rDenison 51442\r(42.012395...",CRAWFORD,Flavored Rum,Jim Beam Brands,44350,...,12,750,$6.29,$9.44,2.0,$113.28,1.50,0.39,0,1
427899,5/31/18,2595,Hy-Vee Wine and Spirits / Denison,Denison,51442.0,"1620 4th Ave, South\rDenison 51442\r(42.012395...",CRAWFORD,American Flavored Vodka,Phillips Beverage,41681,...,6,"1,750",$10.99,$16.49,1.0,$98.94,1.75,0.46,0,1
427900,5/31/18,2595,Hy-Vee Wine and Spirits / Denison,Denison,51442.0,"1620 4th Ave, South\rDenison 51442\r(42.012395...",CRAWFORD,American Dry Gins,LUXCO INC,31657,...,12,"1,000",$4.30,$6.45,1.0,$77.40,1.00,0.26,0,1
427901,5/31/18,2595,Hy-Vee Wine and Spirits / Denison,Denison,51442.0,"1620 4th Ave, South\rDenison 51442\r(42.012395...",CRAWFORD,American Vodkas,SAZERAC NORTH AMERICA,35317,...,12,"1,000",$3.97,$5.96,2.0,$71.52,2.00,0.52,0,1
427904,5/31/18,2595,Hy-Vee Wine and Spirits / Denison,Denison,51442.0,"1620 4th Ave, South\rDenison 51442\r(42.012395...",CRAWFORD,American Vodkas,Laird & Company,35917,...,12,"1,000",$4.17,$6.26,1.0,$75.12,1.00,0.26,0,1
427905,5/31/18,2595,Hy-Vee Wine and Spirits / Denison,Denison,51442.0,"1620 4th Ave, South\rDenison 51442\r(42.012395...",CRAWFORD,Neutral Grain Spirits,DUNKEL CORPORATION,77284,...,12,750,$6.65,$9.98,1.0,$119.76,0.75,0.19,0,1
427906,5/31/18,2595,Hy-Vee Wine and Spirits / Denison,Denison,51442.0,"1620 4th Ave, South\rDenison 51442\r(42.012395...",CRAWFORD,White Rum,LUXCO INC,45277,...,12,"1,000",$4.42,$6.63,1.0,$79.56,1.00,0.26,0,1
427907,5/31/18,2595,Hy-Vee Wine and Spirits / Denison,Denison,51442.0,"1620 4th Ave, South\rDenison 51442\r(42.012395...",CRAWFORD,White Rum,Jim Beam Brands,43848,...,6,"1,750",$7.50,$11.25,1.0,$67.50,1.75,0.46,0,1
427908,5/31/18,2595,Hy-Vee Wine and Spirits / Denison,Denison,51442.0,"1620 4th Ave, South\rDenison 51442\r(42.012395...",CRAWFORD,Canadian Whiskies,DIAGEO AMERICAS,11297,...,12,"1,000",$18.89,$28.34,1.0,$340.08,1.00,0.26,0,1
427909,5/31/18,2595,Hy-Vee Wine and Spirits / Denison,Denison,51442.0,"1620 4th Ave, South\rDenison 51442\r(42.012395...",CRAWFORD,Canadian Whiskies,CONSTELLATION BRANDS INC,11777,...,12,"1,000",$6.63,$9.95,2.0,$119.40,2.00,0.52,0,1
427910,5/31/18,2595,Hy-Vee Wine and Spirits / Denison,Denison,51442.0,"1620 4th Ave, South\rDenison 51442\r(42.012395...",CRAWFORD,Imported Cordials & Liqueurs,Heaven Hill Brands,65195,...,6,750,$9.83,$14.75,1.0,$88.50,0.75,0.19,0,1
427912,5/31/18,2595,Hy-Vee Wine and Spirits / Denison,Denison,51442.0,"1620 4th Ave, South\rDenison 51442\r(42.012395...",CRAWFORD,Cocktails /RTD,PERNOD RICARD USA,62061,...,6,"1,750",$7.99,$11.99,1.0,$71.94,1.75,0.46,0,1
427913,5/31/18,2595,Hy-Vee Wine and Spirits / Denison,Denison,51442.0,"1620 4th Ave, South\rDenison 51442\r(42.012395...",CRAWFORD,Cocktails /RTD,SAZERAC NORTH AMERICA,57157,...,6,"1,750",$6.00,$9.25,1.0,$58.50,1.75,0.46,0,1
427915,5/31/18,2595,Hy-Vee Wine and Spirits / Denison,Denison,51442.0,"1620 4th Ave, South\rDenison 51442\r(42.012395...",CRAWFORD,American Vodkas,Infinium Spirits,37888,...,6,"1,750",$10.00,$15.00,1.0,$90.00,1.75,0.46,0,1
427916,5/31/18,2595,Hy-Vee Wine and Spirits / Denison,Denison,51442.0,"1620 4th Ave, South\rDenison 51442\r(42.012395...",CRAWFORD,American Vodkas,McCormick Distilling Co.,36886,...,12,750,$3.31,$4.97,1.0,$59.64,0.75,0.19,0,1
427917,5/31/18,2595,Hy-Vee Wine and Spirits / Denison,Denison,51442.0,"1620 4th Ave, South\rDenison 51442\r(42.012395...",CRAWFORD,American Vodkas,McCormick Distilling Co.,36887,...,12,"1,000",$4.13,$6.20,1.0,$74.40,1.00,0.26,0,1
427918,5/31/18,2595,Hy-Vee Wine and Spirits / Denison,Denison,51442.0,"1620 4th Ave, South\rDenison 51442\r(42.012395...",CRAWFORD,American Vodkas,McCormick Distilling Co.,36908,...,6,"1,750",$7.47,$11.21,1.0,$67.26,1.75,0.46,0,1
427919,5/31/18,2595,Hy-Vee Wine and Spirits / Denison,Denison,51442.0,"1620 4th Ave, South\rDenison 51442\r(42.012395...",CRAWFORD,American Vodkas,SAZERAC COMPANY INC,36978,...,6,"1,750",$6.92,$10.38,1.0,$62.28,1.75,0.46,0,1
427921,5/31/18,2595,Hy-Vee Wine and Spirits / Denison,Denison,51442.0,"1620 4th Ave, South\rDenison 51442\r(42.012395...",CRAWFORD,Blended Whiskies,DIAGEO AMERICAS,25607,...,12,"1,000",$8.00,$12.00,1.0,$144.00,1.00,0.26,0,1
427922,5/31/18,2595,Hy-Vee Wine and Spirits / Denison,Denison,51442.0,"1620 4th Ave, South\rDenison 51442\r(42.012395...",CRAWFORD,Blended Whiskies,DIAGEO AMERICAS,25608,...,6,"1,750",$11.96,$17.94,1.0,$107.64,1.75,0.46,0,1

Option 2: Fill in missing values

Traditionally, we fill missing data with a median, average, or modelled value. Let's see the five-number-summary of the column of interest to decide.

In [21]:
liq.bottles_sold.describe()

count    361106.000000
mean          2.254344
std           4.021036
min           0.000000
25%           1.000000
50%           1.000000
75%           3.000000
max         315.000000
Name: bottles_sold, dtype: float64

In this given case, we may opt to fill our data in with the *median* (50%) rather than the *mean* because we see such a positive skew. The most commonly processed transaction is on bottles that are single order.

In [22]:
# get the 50th percentile
liq.bottles_sold.quantile()

1.0

In [23]:
# fill in missing data with 50th percentile -- note we *are* making this change in place
liq.bottles_sold.fillna(value=liq.bottles_sold.quantile(), inplace = True)

In [24]:
# check total number of missing values
liq.isnull().sum()

date                       0
store_number               0
store_name                 0
city                      14
zip_code                  14
location                  14
county                    14
category_name            421
vendor_name                0
item_number                0
item_description           0
pack                       0
bottle_vol_ml              0
state_bottle_cost          0
state_bottle_retail        0
bottles_sold               0
sale                   28994
volumne_sold_l             0
volume_sold_gal            0
is_may_2017                0
is_may_2018                0
dtype: int64

They're gone!

Now, to be fair, we may want to investigate our missing values *even more*! What if counties with larger orders, on balance, are more likely to be missing from our dataset? This would skew our data unfairly.

Even determining how to fill in missing data requires careful exploratory data analysis!

## Groupby Statements

In Pandas, groupby statements are similar to pivot tables in that they allow us to segment our population to a specific subset.

For example, if we want to know the average number of bottles sold and pack sizes per city, a groupby statement would make this task much more straightforward.

To think how a groupby statement works, think about it like this:

- **Split:** Separate our DataFrame by a specific attribute
- **Apply:** Determine how categories are going to be mathematically incorporated. For example, if there are multiple store locations in one city, do we want the average amount across all stores, the total amount for the stores, or perhaps even the highest amount for a single store per city?
- **Combine:** Put our DataFrame back together.

![](http://i.imgur.com/yjNkiwL.png)

Let's try it out!

In [25]:
# groupby city - take the average for each column when combining back together
liq.groupby('city').mean()

,store_number,zip_code,item_number,pack,bottles_sold,volumne_sold_l,volume_sold_gal,is_may_2017,is_may_2018
city,,,,,,,,,
Ackley,4481.150000,50601.000000,37727.300000,11.962500,1.881250,1.797938,0.470188,0.450000,0.550000
Adair,4519.260870,50002.000000,36824.826087,13.637681,3.028986,2.199275,0.574348,0.333333,0.666667
Adel,4596.451939,50003.000000,41947.055649,11.873524,2.357504,2.387352,0.625110,0.522766,0.477234
Afton,4531.000000,50830.000000,41484.700000,9.833333,1.150000,1.757167,0.458833,0.466667,0.533333
Akron,4993.326923,51001.000000,40348.153846,14.692308,3.548077,2.770865,0.726442,0.528846,0.471154
Albert City,5266.000000,50510.000000,41968.312500,18.000000,1.375000,0.926250,0.238750,0.312500,0.687500
Albia,3423.772636,52531.000000,46534.146881,11.374245,2.448692,3.018732,0.792334,0.569416,0.430584
Albion,5378.000000,50005.000000,38616.054054,12.702703,1.324324,1.487568,0.386486,0.783784,0.216216
Alburnett,5269.000000,52202.000000,50115.125000,15.541667,1.791667,1.439583,0.374167,0.000000,1.000000
Alden,4224.071823,50006.000000,37701.651934,10.436464,2.331492,2.628398,0.689448,0.425414,0.574586
Algona,3109.218459,50511.000000,43059.341236,11.270957,1.823031,2.026808,0.530296,0.521592,0.478408
Allison,4653.090909,50602.000000,43787.628788,11.348485,2.598485,2.160909,0.565530,0.507576,0.492424
Alta,4982.000000,51002.000000,38159.296296,12.925926,1.407407,1.743704,0.454444,0.518519,0.481481
Altoona,3384.153230,50009.000000,46851.040043,11.667379,1.950881,2.004309,0.523753,0.486919,0.513081
Amana,5397.000000,52203.000000,38382.384615,14.179487,2.435897,1.660769,0.432821,0.000000,1.000000
Ames,3559.304391,50010.207083,51576.393025,11.686213,2.081587,2.021277,0.528299,0.474973,0.525027
Anamosa,5045.059172,52205.000000,46333.039448,11.173570,1.848784,2.070907,0.541854,0.552926,0.447074
Anita,4363.614130,50020.000000,42877.663043,12.097826,2.130435,1.965924,0.513478,0.603261,0.396739
Ankeny,3583.061265,50021.860693,44906.538959,11.566547,2.360507,2.326330,0.608919,0.461663,0.538337
Anthon,5228.000000,51004.000000,38431.413462,12.076923,1.153846,1.165577,0.302885,0.548077,0.451923
Arlington,5420.360656,50606.000000,41351.540984,11.737705,2.213115,2.099836,0.549508,0.606557,0.393443
Armstrong,4854.000000,50514.000000,35090.200000,11.200000,1.900000,2.374667,0.620667,0.333333,0.666667
Arnold's Park,5104.000000,51331.000000,47398.540881,10.562893,1.891509,2.015330,0.526525,0.639937,0.360063
Arnolds Park,5146.167230,51331.000000,44695.100225,11.832770,2.010698,2.023688,0.529229,0.474662,0.525338
Atkins,5268.000000,52206.000000,39263.632479,14.004274,1.747863,1.253034,0.325470,0.547009,0.452991
Atlantic,3333.460373,50022.000000,42192.421329,11.626457,2.148601,2.185163,0.572150,0.514569,0.485431
Audubon,5181.720126,50025.000000,40767.713836,10.484277,2.845912,3.154088,0.828019,0.559748,0.440252
Aurelia,4923.000000,51005.000000,24936.764706,17.647059,1.176471,1.090588,0.281765,0.470588,0.529412
Avoca,4379.336427,51521.000000,43929.252900,10.844548,1.981439,2.014687,0.526868,0.705336,0.294664
Baldwin,4690.000000,52207.000000,45569.184211,9.368421,1.236842,1.498421,0.391842,0.657895,0.342105
...,...,...,...,...,...,...,...,...,...
Wapello,4762.266219,52653.000000,43368.134228,12.747204,3.131991,2.757159,0.722573,0.393736,0.606264
Washburn,4980.000000,50702.000000,34561.812500,16.375000,2.281250,3.121250,0.818750,0.593750,0.406250
Washington,3392.040806,52353.000000,54772.547198,11.945428,1.887414,1.920265,0.501839,0.502458,0.497542
Washta,5312.000000,51061.000000,30091.800000,10.800000,2.200000,2.550000,0.667000,1.000000,0.000000
Waterloo,3793.127043,50702.301228,48081.328166,14.918625,1.895335,1.591155,0.414725,0.520168,0.479832
Waukee,3188.975528,50263.000000,52691.868001,10.978495,2.204301,2.192021,0.573407,0.521320,0.478680
Waukon,3363.541790,52172.000000,46665.327434,10.722714,2.000000,2.508387,0.657640,0.518191,0.481809
Waverly,3199.994789,50677.000000,47383.627191,11.430602,1.690194,2.008058,0.524818,0.542871,0.457129
Webster City,3339.627150,50595.000000,45456.464988,12.563882,2.440418,2.293059,0.600694,0.523956,0.476044
Wellman,4067.000000,52356.000000,45673.124611,11.183801,1.607477,1.563271,0.407445,0.629283,0.370717
Wellsburg,4657.000000,50680.000000,31869.500000,10.960000,2.200000,2.775000,0.726400,0.620000,0.380000
Wesley,3682.000000,50483.000000,50205.079137,10.100719,1.338129,1.697842,0.444029,0.597122,0.402878
West Bend,2475.000000,50597.000000,45764.561905,8.861905,1.414286,1.857476,0.486333,0.480952,0.519048
West Branch,4209.083333,52358.000000,42522.563889,12.247222,1.991667,1.762306,0.459500,0.577778,0.422222
West Burlington,4071.900000,52655.000000,43563.628205,11.348718,1.653846,1.583462,0.412551,0.378205,0.621795
West Des Moines,3363.036472,50265.420421,45872.251783,12.235443,2.411664,2.425241,0.635001,0.464295,0.535705
West Liberty,4916.489426,52776.000000,45164.580060,11.241692,1.561934,1.455076,0.378671,0.522659,0.477341
West Point,4673.000000,52656.000000,42525.494071,10.102767,1.592885,1.837312,0.480514,0.620553,0.379447
West Union,5009.072581,52175.000000,44701.586022,10.483871,2.282258,2.590296,0.679301,0.559140,0.440860
Wheatland,4948.000000,52777.000000,44921.391892,15.878378,2.810811,1.735405,0.452568,0.567568,0.432432
Whittemore,5457.000000,50598.000000,49243.166667,12.000000,1.000000,0.750000,0.190000,0.000000,1.000000
Williamsburg,5065.920398,52361.000000,39279.524876,11.226368,2.196517,2.133085,0.558184,0.310945,0.689055
Wilton,5065.280899,52778.000000,42097.345506,12.396067,1.831461,1.727865,0.450730,0.553371,0.446629
Windsor Heights,3414.961981,50313.921898,47455.709402,11.821986,2.445329,2.784026,0.729906,0.456528,0.543472
Winfield,5489.000000,52659.000000,31500.650000,18.100000,4.750000,2.833500,0.743500,0.000000,1.000000
Winterset,3080.031199,50273.000000,41862.250411,11.197044,1.758621,1.777537,0.463933,0.460591,0.539409
Winthrop,4862.140496,50682.000000,44955.677686,10.471074,2.016529,2.053719,0.537355,0.561983,0.438017
Woodbine,4000.000000,51579.000000,44829.737662,10.581818,2.275325,2.333896,0.611247,0.638961,0.361039
Woodward,4577.000000,50276.000000,37040.712766,12.489362,3.478723,2.539681,0.664787,0.436170,0.563830
Zwingle,4885.000000,52079.000000,47159.452830,16.566038,2.849057,2.020755,0.528679,0.584906,0.415094

In [26]:
# perhaps we want *just* bottles sold from the above
liq.groupby('city').bottles_sold.mean()

city
Ackley             1.881250
Adair              3.028986
Adel               2.357504
Afton              1.150000
Akron              3.548077
Albert City        1.375000
Albia              2.448692
Albion             1.324324
Alburnett          1.791667
Alden              2.331492
Algona             1.823031
Allison            2.598485
Alta               1.407407
Altoona            1.950881
Amana              2.435897
Ames               2.081587
Anamosa            1.848784
Anita              2.130435
Ankeny             2.360507
Anthon             1.153846
Arlington          2.213115
Armstrong          1.900000
Arnold's Park      1.891509
Arnolds Park       2.010698
Atkins             1.747863
Atlantic           2.148601
Audubon            2.845912
Aurelia            1.176471
Avoca              1.981439
Baldwin            1.236842
                     ...
Wapello            3.131991
Washburn           2.281250
Washington         1.887414
Washta             2.200000
Waterloo           1.895335
Waukee             2.204301
Waukon             2.000000
Waverly            1.690194
Webster City       2.440418
Wellman            1.607477
Wellsburg          2.200000
Wesley             1.338129
West Bend          1.414286
West Branch        1.991667
West Burlington    1.653846
West Des Moines    2.411664
West Liberty       1.561934
West Point         1.592885
West Union         2.282258
Wheatland          2.810811
Whittemore         1.000000
Williamsburg       2.196517
Wilton             1.831461
Windsor Heights    2.445329
Winfield           4.750000
Winterset          1.758621
Winthrop           2.016529
Woodbine           2.275325
Woodward           3.478723
Zwingle            2.849057
Name: bottles_sold, Length: 404, dtype: float64

In [27]:
# or maybe, we want the biggest single transaction per county
liq.groupby('city').bottles_sold.max()

city
Ackley               6.0
Adair               12.0
Adel                50.0
Afton                3.0
Akron               12.0
Albert City          4.0
Albia              197.0
Albion               3.0
Alburnett            4.0
Alden                6.0
Algona              50.0
Allison             24.0
Alta                 5.0
Altoona            120.0
Amana               12.0
Ames               200.0
Anamosa             50.0
Anita               12.0
Ankeny             156.0
Anthon               4.0
Arlington            6.0
Armstrong            4.0
Arnold's Park        8.0
Arnolds Park         8.0
Atkins              10.0
Atlantic           100.0
Audubon             24.0
Aurelia              2.0
Avoca                8.0
Baldwin              3.0
                   ...
Wapello             12.0
Washburn            10.0
Washington         200.0
Washta               6.0
Waterloo           128.0
Waukee              75.0
Waukon             100.0
Waverly            100.0
Webster City       100.0
Wellman              6.0
Wellsburg            6.0
Wesley               5.0
West Bend           10.0
West Branch          6.0
West Burlington     12.0
West Des Moines    315.0
West Liberty         6.0
West Point           6.0
West Union          50.0
Wheatland           12.0
Whittemore           1.0
Williamsburg        12.0
Wilton               6.0
Windsor Heights    200.0
Winfield            18.0
Winterset           50.0
Winthrop             6.0
Woodbine             9.0
Woodward            12.0
Zwingle              8.0
Name: bottles_sold, Length: 404, dtype: float64

In [28]:
# in fact, we can 'apply' a mean and max at once- plus count and min!
liq.groupby('city').bottles_sold.agg(['count', 'mean', 'min', 'max'])

                 count      mean  min    max
city
Ackley             160  1.881250  1.0    6.0
Adair               69  3.028986  1.0   12.0
Adel               593  2.357504  1.0   50.0
Afton               60  1.150000  1.0    3.0
Akron              104  3.548077  1.0   12.0
Albert City         16  1.375000  1.0    4.0
Albia              497  2.448692  1.0  197.0
Albion              37  1.324324  1.0    3.0
Alburnett           24  1.791667  1.0    4.0
Alden              181  2.331492  1.0    6.0
Algona            1181  1.823031  1.0   50.0
Allison            132  2.598485  1.0   24.0
Alta                27  1.407407  1.0    5.0
Altoona           3746  1.950881  0.0  120.0
Amana               39  2.435897  1.0   12.0
Ames             11068  2.081587  0.0  200.0
Anamosa           1521  1.848784  1.0   50.0
Anita              184  2.130435  1.0   12.0
Ankeny            8047  2.360507  0.0  156.0
Anthon             104  1.153846  1.0    4.0
Arlington           61  2.213115  1.0    6.0
Armstrong           30  1.900000  1.0    4.0
Arnold's Park      636  1.891509  1.0    8.0
Arnolds Park      1776  2.010698  1.0    8.0
Atkins             234  1.747863  1.0   10.0
Atlantic          1716  2.148601  1.0  100.0
Audubon            318  2.845912  1.0   24.0
Aurelia             17  1.176471  1.0    2.0
Avoca              431  1.981439  1.0    8.0
Baldwin             38  1.236842  1.0    3.0
...                ...       ...  ...    ...
Wapello            447  3.131991  1.0   12.0
Washburn            32  2.281250  1.0   10.0
Washington        2034  1.887414  1.0  200.0
Washta              10  2.200000  1.0    6.0
Waterloo         14255  1.895335  0.0  128.0
Waukee            2697  2.204301  0.0   75.0
Waukon            1017  2.000000  1.0  100.0
Waverly           2111  1.690194  1.0  100.0
Webster City      1628  2.440418  0.0  100.0
Wellman            321  1.607477  1.0    6.0
Wellsburg           50  2.200000  1.0    6.0
Wesley             139  1.338129  1.0    5.0
West Bend          210  1.414286  1.0   10.0
West Branch        360  1.991667  1.0    6.0
West Burlington    780  1.653846  1.0   12.0
West Des Moines  11077  2.411664  0.0  315.0
West Liberty       331  1.561934  1.0    6.0
West Point         253  1.592885  1.0    6.0
West Union         372  2.282258  1.0   50.0
Wheatland           74  2.810811  1.0   12.0
Whittemore           6  1.000000  1.0    1.0
Williamsburg       402  2.196517  1.0   12.0
Wilton             356  1.831461  1.0    6.0
Windsor Heights   3393  2.445329  0.0  200.0
Winfield            20  4.750000  1.0   18.0
Winterset         1218  1.758621  1.0   50.0
Winthrop           121  2.016529  1.0    6.0
Woodbine           385  2.275325  1.0    9.0
Woodward            94  3.478723  1.0   12.0
Zwingle             53  2.849057  1.0    8.0

[404 rows x 4 columns]

In [29]:
# sort by largest average; grab top 10 cities in Iowa by average liquor store bottle size purchase
liq.groupby('city').bottles_sold.agg(['count', 'mean', 'min', 'max']).sort_values(by='mean', ascending=False).head(10)

                count      mean  min    max
city
Delmar             29  5.586207  1.0   24.0
Grand Junction     45  5.355556  1.0   20.0
Donnellson         50  5.100000  1.0   12.0
Earling             4  5.000000  3.0    7.0
Lovilia            21  4.809524  1.0   12.0
Winfield           20  4.750000  1.0   18.0
Dakota City        33  4.606061  1.0   12.0
Early              38  4.263158  1.0   12.0
Exira              43  4.046512  1.0   12.0
New Hampton       221  3.941176  1.0  200.0

In [30]:
# groupby creates a groupby object - it needs to be told how to aggregate things together
liq.groupby('city').bottles_sold

In [31]:
liq.groupby('city').bottles_sold.count()

city
Ackley               160
Adair                 69
Adel                 593
Afton                 60
Akron                104
Albert City           16
Albia                497
Albion                37
Alburnett             24
Alden                181
Algona              1181
Allison              132
Alta                  27
Altoona             3746
Amana                 39
Ames               11068
Anamosa             1521
Anita                184
Ankeny              8047
Anthon               104
Arlington             61
Armstrong             30
Arnold's Park        636
Arnolds Park        1776
Atkins               234
Atlantic            1716
Audubon              318
Aurelia               17
Avoca                431
Baldwin               38
                   ...
Wapello              447
Washburn              32
Washington          2034
Washta                10
Waterloo           14255
Waukee              2697
Waukon              1017
Waverly             2111
Webster City        1628
Wellman              321
Wellsburg             50
Wesley               139
West Bend            210
West Branch          360
West Burlington      780
West Des Moines    11077
West Liberty         331
West Point           253
West Union           372
Wheatland             74
Whittemore             6
Williamsburg         402
Wilton               356
Windsor Heights     3393
Winfield              20
Winterset           1218
Winthrop             121
Woodbine             385
Woodward              94
Zwingle               53
Name: bottles_sold, Length: 404, dtype: int64

In [32]:
# top 10 cities by counts of active liquor stores
liq.groupby('city').bottles_sold.count().sort_values(ascending=False).head(10)

city
Des Moines         34753
Cedar Rapids       30651
Davenport          17709
Waterloo           14255
Sioux City         13696
Dubuque            12986
Iowa City          11962
Council Bluffs     11641
West Des Moines    11077
Ames               11068
Name: bottles_sold, dtype: int64

## Apply functions for column operations

Apply functions allow us to perform a complex operation across an entire columns highly efficiently.

For example, recall our `sale` data is formatted in an unhelpful way (strings, not floats):

In [33]:
liq.dtypes

date                    object
store_number             int64
store_name              object
city                    object
zip_code               float64
location                object
county                  object
category_name           object
vendor_name             object
item_number              int64
item_description        object
pack                     int64
bottle_vol_ml           object
state_bottle_cost       object
state_bottle_retail     object
bottles_sold           float64
sale                    object
volumne_sold_l         float64
volume_sold_gal        float64
is_may_2017              int64
is_may_2018              int64
dtype: object

In [34]:
# first sale value
liq.sale[0]

'$79.20 '

We need to convert this value to a float, and without the dollar sign.

**Apply functions** allow us to write a function that cleans a single value, and then we *apply* that function to a whole column. (It's like a for loop, but way more efficient as an operation!)

Writing them follows a familiar three steps:

1. Write a function that creates the desired output on a single value
2. Test that function on one value of interest
3. Apply that function to the whole column

To start, let's write a function that converts an inputted value with a dollar sign to a float, and returns that float.

In [35]:
def dollars_to_float(value):
    
    # try to convert the inputted value to a float
    try:
        return float(value.strip('$'))
    
    # in the case of the value being a null value, we simply return a null
    except:
        return np.nan

Let's try our function on a value of interest or two.

In [36]:
liq.sale[0]

'$79.20 '

In [37]:
liq.sale[2]

'$9.00 '

In [38]:
dollars_to_float(liq.sale[0])

79.2

In [39]:
dollars_to_float(liq.sale[2])

9.0

Now, we apply this function to the whole column with the following syntax. Notice: we are going to create a new column (out of thin air!) called `sale_clean`.

In [40]:
liq['sale_clean'] = liq.sale.apply(dollars_to_float)

In [41]:
liq['sale_clean'][0:10]

0     79.20
1    112.32
2      9.00
3      9.00
4     18.00
5       NaN
6    115.92
7     69.60
8     90.00
9    162.00
Name: sale_clean, dtype: float64

Voila! Our first apply function.

**Your turn:** Identify one other column where we may want to write a new apply function, or use the one we just created for the purposes of cleaning up our dataset.

In [42]:
# identify a column to fix
liq.dtypes

date                    object
store_number             int64
store_name              object
city                    object
zip_code               float64
location                object
county                  object
category_name           object
vendor_name             object
item_number              int64
item_description        object
pack                     int64
bottle_vol_ml           object
state_bottle_cost       object
state_bottle_retail     object
bottles_sold           float64
sale                    object
volumne_sold_l         float64
volume_sold_gal        float64
is_may_2017              int64
is_may_2018              int64
sale_clean             float64
dtype: object

In [43]:
# sale bottle retail looks like it needs fixed
liq.state_bottle_retail [0]

'$6.60 '

In [44]:
# write a function to fix a single value in that columns
# I'll use the same function

In [45]:
dollars_to_float(liq.state_bottle_retail[0])

6.6

In [46]:
# apply that function across the whole column

In [47]:
liq['state_bottle_retail_clean'] = liq.state_bottle_retail.apply(dollars_to_float)

In [48]:
liq['state_bottle_retail_clean'][0:10]

0     6.60
1     2.34
2     9.00
3     9.00
4    18.00
5    32.99
6     4.83
7     2.90
8     7.50
9    13.50
Name: state_bottle_retail_clean, dtype: float64

## Wrap up

We've covered even more useful information! Here are the key takeaways:

- **Missing data** comes in many shapes and sizes. Before deciding how to handle it, we identify it exists. We then derive how the missingness is affecting our dataset, and make a determination about how to fill in values.

```python
# pro tip for identifying missing data
df.isnull().sum()
```

- **Grouby** statements are particularly useful for a subsection-of-interest analysis. Specifically, zooming in on one condition, and determining relevant statstics.

```python
# group by 
df.groupby('column').agg['count', 'mean', 'max', 'min']
```

- **Apply functions** help us clean values across an entire DataFrame column. They are *like* a for loop for cleaning, but many times more efficient. They follow a common pattern:
1. Write a function that works on a single value
2. Test that function on a single value
3. Apply that function to a whole column

(The most confusing part of apply functions is that we write them with *a single value* in mind, and then apply them to many single values at once.)